In [3]:
list=["Asad","Shaikh"]
print(list.index("Shaikh"))

1

**Indexing in tuple**

In [5]:
tuple=("g","o","o","g","l","e")
print(tuple.index("g"))
print(tuple.index("l"))

0
4

**Negative Indexing in List**

In [6]:
data=["asad","shaikh","54","IT","Engineer"]
print(data[-3])
print(data[-4])
#starts from -1

54
shaikh

**Negative Indexing in Tuple**

In [7]:
data=["asad","shaikh","54","IT","Engineer"]
print(data[-2])

IT

**Membership Test in List**

In [8]:
var= 9
list=[1,2,3,4,5,6,7,8,9,10]
print(var in list)        #in
print(5 not in list)      #not in
print(var not in list)    #not in

True
False
False

**Membership Test in Tuple**

In [9]:
tuple= (1,2,3,4,5,6,7,8,9,10)
print(1 in tuple)       #in
print(10 in tuple)        #in
print(20 not in tuple)    #not in

True
True
True

**Membership Test in Set**

In [11]:
set={1,2,3,4,5,6,7,8,9,10}
print(1 in set)         #in
print(10 not in set)     #not in

True
False

**Membership Test in Dictionary**

In [13]:
d1={"my","name","is","asad"}
d2={"how","are","You"}

print("my" in d1)       #in
print("are" not in d2)  #not in

True
False

**Iterating Loop in Tuple**

In [17]:
tuple=("I ","am ","an ","Engineer")

for ele in tuple:       #for Loop
  print(ele,end="")
  #end="" used to print output in one line

I am an Engineer

**Iterating Loop in Set**

In [18]:
set = {"Hi", "hello", "bye"}

for x in set:
  print(x)

hello
bye
Hi

**Iterating Loop in Dictionary**

In [19]:
dict = {"Good":"Morning",
        "Sleepy":"Day",
        "Sweet":"Evening"}
for ele in dict:
  print(ele)

Good
Sleepy
Sweet

**Iterating Loop in List**

In [20]:
list=[1,2,3,4,5,6,7,8,9,10]

for ele in list:
  print(ele)

1
2
3
4
5
6
7
8
9
10